include ../links.pug
doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Home Page
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/home.css')
  body
    .container
      div
        .header
          h1 List of Events
        .add-btn
          a.btn.btn-add(href='/add', role='button') Schedule Event
      .events
        ul.list-group
          li.list-group-title ID
          li.list-group-title Name of Event
          li.list-group-title Date of Event
          li.list-group-title Location of Event
          li.list-group-title Phone Number
          li.list-group-title Description
          li.list-group-title Seat Number
          li.list-group-title Actions
    p.text
      | This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service
    script.
      document.addEventListener('DOMContentLoaded', function () {
        axios
          .get('/api/ticket')
          .then(function (response) {
            const tickets = response.data;
             const events = document.querySelector('.events');
            tickets.forEach((t) => {
              const ticket = t.ticket;
              const listItem = document.createElement('ul');
              listItem.classList.add('list-group2');
              listItem.innerHTML = `
                <li>${t.id}</li>
                <li>${ticket.eventName}</li>
                <li>${ticket.eventDateTime}</li>
                <li>${ticket.venue}</li>
                <li>${ticket.contactPhone}</li>
                <li>${ticket.description}</li>
                <li>${ticket.seat}</li>
                <li class='list-buttons'>
                  <button class="btn btn-update" data-id="${t.id}" onclick="window.location.href='/update/${t.id}'">Update</button>
                  <button class='btn  btn-remove' data-id='${t.id}'>Remove</button>
                </li>
              `;
              events.appendChild(listItem);
            });
          })
          .catch(function (error) {
            console.error('Error fetching tickets:', error);
          });

        
        document.addEventListener('click', function(event) {
          if (event.target && event.target.classList.contains('btn-remove')) {
            const ticketId = event.target.getAttribute('data-id');
            axios.delete(`/api/ticket/${ticketId}`).then(function(response) {
              alert('Deleted successfully');
              location.href = '/';
            }).catch(function(error) {
              console.error( error);
            });
          }
        });
      });
